h1 {
    color: darkblue;
    background-color: rgb(247, 242, 242);
    display: inline-block;
    width: 500px;
    height: 50px;



}

img {
    width: 200px;
    height: 200px;

}

.header {
    width: 500px;
    height: 750px;
    display: inline-block;
    background-color: rgb(27, 127, 209);
}

p {
    font-size: 16px;
    text-align: justify;
    font-family: cursive;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    text-indent: 35px;
}

.anggota {
    text-align: left;
    font-size: 16px;
    font-family: cursive;

}