.fromlogin {
    text-align: center;
    margin: auto;
    background: transparent;

}

body {
    text-align: center;
    padding: 200px;
    background-image: url(wall5.jpg);
    background-size: cover;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    font-size: 30px;

}

.headerlogin {
    background-color: white;
    opacity: 80%;
    margin-left: 100pX;
    float: left;
    padding-left: 145px;
    padding-right: 87px;
    padding-top: 40px;
    padding-bottom: 45px;


}

input {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

img {
    width: 600px;
    height: 441.5px;
    float: right;
    display: inline-block;

}